<!--//templates/index.html-->
<html>
<head>
<title>Python Flask Upload and Predict</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body style="background-color: darkgrey;" style="font-family: Arial;">
<p><h1 align="center"><b>SECOND LIFE</b></h1></p>
<p><h2 align="center">CLASSIFIER</h2></p>
<div class="container">
<div class="row">
    <h2>Upload your image</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    {% if filename %}
        <div align="center">
            <img src="{{ url_for('display_image', filename=filename) }}" style="width:auto;height:600px">
        </div>
    {% endif %}
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input style="background-color: darkgrey;" type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
<p><h3 align="center" style="color: #E50914;"><b>{{ prediction_text }}</b></h3></p>
</div>
</div>
</body>
</html>